<!--<app-header></app-header>-->
<div>
  <div class="col-md-12">
    <div align="center">
      <caption>
        <h2>Add New Employee</h2>
      </caption>
      <form class="form font-weight-normal w-50" [formGroup]="createEmployeeForm">
        <table class="table" cellpadding="5">

          <tr>
            <th>Employee Id:</th>
            <td>
              <input class="form-control" formControlName="employeeId" type="text" name="employeeId" id="employeeId" />
              <p style="color: red" *ngIf="createEmployeeForm.controls.employeeId.hasError('required') &&
      createEmployeeForm.controls.employeeId.dirty">
                Input employeeId, please!
              </p>
              <p style="color: red" *ngIf="createEmployeeForm.controls.employeeId.hasError('pattern')">
                employeeId is like NV-XXXX (X: 0-9)!!!
              </p>

            </td>
          </tr>
          <tr>
            <th>Employee Name:</th>
            <td>
              <input class="form-control" formControlName="employeeName" type="text" name="employeeName" id="employeeName" />
              <p style="color: red" *ngIf="createEmployeeForm.controls.employeeName.hasError('required') &&
      createEmployeeForm.controls.employeeName.dirty">
                Input employeeName, please!
              </p>
            </td>
          </tr>
          <tr>
            <th>Employee Birthday:</th>
            <td>
              <input class="form-control" formControlName="employeeBirthday" type="date" name="employeeBirthday" id="employeeBirthday" />
            </td>
            <p style="color: red" *ngIf="createEmployeeForm.controls.employeeBirthday.hasError('required') &&
      createEmployeeForm.controls.employeeBirthday.dirty">
              Input employeeBirthday, please!
            </p>
          </tr>
          <tr>
            <th>Employee Id Card:</th>
            <td>
              <input class="form-control" formControlName="employeeIdCard" type="text" name="employeeIdCard" id="employeeIdCard" />
              <p style="color: red" *ngIf="createEmployeeForm.controls.employeeIdCard.hasError('required') &&
      createEmployeeForm.controls.employeeIdCard.dirty">
                Input employeeIdCard, please!
              </p>
              <p style="color: red" *ngIf="createEmployeeForm.controls.employeeIdCard.hasError('pattern')">
                employeeIdCard is like XXXXXXXXX (X: 0-9)!!!
              </p>
            </td>
          </tr>
          <tr>
            <th>Employee Salary:</th>
            <td>
              <input class="form-control" formControlName="employeeSalary" type="text" name="employeeSalary" id="employeeSalary" />
              <p style="color: red" *ngIf="createEmployeeForm.controls.employeeSalary.hasError('required') &&
      createEmployeeForm.controls.employeeSalary.dirty">
                Input employeeSalary, please!
              </p>
            </td>
          </tr>
          <tr>
            <th>Employee Phone:</th>
            <td>
              <input class="form-control" formControlName="employeePhone" type="text" name="employeePhone" id="employeePhone" />
              <p style="color: red" *ngIf="createEmployeeForm.controls.employeePhone.hasError('required') &&
      createEmployeeForm.controls.employeePhone.dirty">
                Input employeePhone, please!
              </p>
              <p style="color: red" *ngIf="createEmployeeForm.controls.employeeIdCard.hasError('pattern')">
                employeeIdCard is like 84-XXXXXXXXX (X: 0-9)!!!
              </p>
            </td>
          </tr>
          <tr>
            <th>Employee Email:</th>
            <td>
              <input class="form-control" formControlName="employeeEmail" type="text" name="employeeEmail" id="employeeEmail" />
              <p style="color: red" *ngIf="createEmployeeForm.controls.employeeEmail.hasError('required') &&
      createEmployeeForm.controls.employeeEmail.dirty">
                Input employeeEmail, please!
              </p>
              <p style="color: red" *ngIf="createEmployeeForm.controls.employeeEmail.hasError('email')">
                employeeEmail is not valid!!!
              </p>
            </td>
          </tr>
          <tr>
            <th>Employee Address:</th>
            <td>
              <input class="form-control" formControlName="employeeAddress" type="text" name="employeeAddress" id="employeeAddress" />
              <p style="color: red" *ngIf="createEmployeeForm.controls.employeeAddress.hasError('required') &&
      createEmployeeForm.controls.employeeAddress.dirty">
                Input employeeAddress, please!
              </p>
            </td>
          </tr>
          <tr>
            <th>Position:</th>
            <td>
              <select class="form-control" formControlName="position" style="width: 300px">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
              <p style="color: red" *ngIf="createEmployeeForm.controls.position.hasError('required') &&
      createEmployeeForm.controls.position.touched">
                Choose position, please!
              </p>
            </td>
          </tr>
          <tr>
            <th>Education Degree:</th>
            <td>
              <select class="form-control" formControlName="educationDegree" style="width: 300px">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
              <p style="color: red" *ngIf="createEmployeeForm.controls.educationDegree.hasError('required') &&
      createEmployeeForm.controls.educationDegree.touched">
                Choose educationDegree, please!
              </p>
            </td>
          </tr>
          <tr>
            <th>Division:</th>
            <td>
              <select class="form-control" formControlName="division" style="width: 300px">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
              <p style="color: red" *ngIf="createEmployeeForm.controls.division.hasError('required') &&
      createEmployeeForm.controls.division.touched">
                Choose division, please!
              </p>
            </td>
          </tr>
          <tr>
            <th>Username:</th>
            <td>
              <input class="form-control" formControlName="username" type="text"/>
              <p style="color: red" *ngIf="createEmployeeForm.controls.username.hasError('required') &&
      createEmployeeForm.controls.username.dirty">
                Input username, please!
              </p>
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">
              <input class="btn btn-success" (click)="getEmployee()" value="Save"/>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
<!--<app-footer></app-footer>-->
