<div class="container m-2">
  <h1>Login Form</h1>
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="exampleInputEmail1" id="exampleInputEmail1"
             placeholder="Enter email"
             formControlName="email">
      <p style="color: red" *ngIf="loginForm.controls.email.hasError('required') &&
      loginForm.controls.email.dirty">
        Input email, please!
      </p>
      <p style="color: red" *ngIf="loginForm.controls.email.hasError('pattern')">
        Email invalid!!!
      </p>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="exampleInputPassword1" id="exampleInputPassword1"
             placeholder="Password"
             formControlName="password">
      <p style="color: red" *ngIf="loginForm.controls.password.hasError('required') &&
      loginForm.controls.password.dirty">
        Input password, please!
      </p>
      <p style="color: red" *ngIf="loginForm.controls.password.hasError('minlength')">
        Password >=6!
      </p>
    </div>

    <button class="btn btn-primary mt-2" (click)="getInfo()">Submit</button>
  </form>
</div>


