
<div>
  <div class="col-md-12">
    <div align="center">
      <caption>
        <h2>Edit Service</h2>
      </caption>
      <form class="form font-weight-normal w-50" method="post">
        <table class="table" cellpadding="5">

          <tr>
            <th>Service Id:</th>
            <td>
              <input class="form-control" type="text"/>
            </td>
          </tr>
          <tr>
            <th>Service Name:</th>
            <td>
              <input class="form-control" type="text"/>
            </td>
          </tr>
          <tr>
            <th>Service Area:</th>
            <td>
              <input class="form-control" type="text"/>
            </td>
          </tr>
          <tr>
            <th>Service Cost:</th>
            <td>
              <input class="form-control" type="text"/>
            </td>
          </tr>
          <tr>
            <th>Service Max People:</th>
            <td>
              <input class="form-control" type="text"/>
            </td>
          </tr>
          <tr>
            <th>Rent Type:</th>
            <td>
              <select class="form-control" style="width: 300px" >
                <option></option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Service Type:</th>
            <td>
              <select class="form-control" style="width: 300px">
                <option></option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Standard Room:</th>
            <td>
              <input class="form-control" type="text" name="customerIdCard" id="customerIdCard"/>
            </td>
          </tr>
          <tr>
            <th>Description Other Convenience:</th>
            <td>
              <input class="form-control" type="text" name="customerPhone"
                     id="customerPhone"/>
            </td>
          </tr>
          <tr>
            <th>Pool Area:</th>
            <td>
              <input class="form-control" type="text"/>
            </td>
          </tr>
          <tr>
            <th>Number Of Floor:</th>
            <td>
              <input class="form-control" type="text" size="45"/>

            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">
              <input class="btn btn-success" type="submit" value="Save"/>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>


