<app-header></app-header>
<div>
  <div class="col-md-12">
    <div align="center">
      <caption>
        <h2>Add New Service</h2>
      </caption>
      <form class="form font-weight-normal w-50" [formGroup]="createServiceForm">
        <table class="table" cellpadding="5">
          <tr>
            <th>Service Id:</th>
            <td>
              <input class="form-control" formControlName="serviceId" type="text"/>
              <p style="color: red" *ngIf="createServiceForm.controls.serviceId.hasError('required') &&
      createServiceForm.controls.serviceId.dirty">
                Input customerId, please!
              </p>
              <p style="color: red" *ngIf="createServiceForm.controls.serviceId.hasError('pattern')">
                serviceId is like DV-XXXX (X: 0-9)!!!
              </p>
            </td>

          </tr>
          <tr>
            <th>Service Name:</th>
            <td>
              <input class="form-control" formControlName="serviceName" type="text"/>
              <p style="color: red" *ngIf="createServiceForm.controls.serviceName.hasError('required') &&
      createServiceForm.controls.serviceName.dirty">
                Input serviceName, please!
              </p>
            </td>

          </tr>
          <tr>
            <th>Service Area:</th>
            <td>
              <input class="form-control" formControlName="serviceArea" type="text"/>
              <p style="color: red" *ngIf="createServiceForm.controls.serviceArea.hasError('min') &&
      createServiceForm.controls.serviceArea.dirty">
                Input serviceArea > 0, please!
              </p>
            </td>

          </tr>
          <tr>
            <th>Service Cost:</th>
            <td>
              <input class="form-control" formControlName="serviceCost" type="text"/>
              <p style="color: red" *ngIf="createServiceForm.controls.serviceCost.hasError('min') &&
      createServiceForm.controls.serviceCost.dirty">
                Input serviceCost > 0, please!
              </p>
            </td>

          </tr>
          <tr>
            <th>Service Max People:</th>
            <td>
              <input class="form-control" formControlName="serviceMaxPeople" type="text"/>
              <p style="color: red" *ngIf="createServiceForm.controls.serviceMaxPeople.hasError('min') &&
      createServiceForm.controls.serviceMaxPeople.dirty">
                Input serviceMaxPeople > 0, please!
              </p>
            </td>

          </tr>
          <tr>
            <th>Rent Type:</th>
            <td>
              <select class="form-control" formControlName="rentType"  style="width: 300px" >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
              <p style="color: red" *ngIf="createServiceForm.controls.rentType.hasError('required') &&
      createServiceForm.controls.rentType.touched">
                Choose rentType, please!
              </p>
            </td>
          </tr>
          <tr>
            <th>Service Type:</th>
            <td>
              <select class="form-control" formControlName="serviceType" style="width: 300px">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              <p style="color: red" *ngIf="createServiceForm.controls.serviceType.hasError('required') &&
      createServiceForm.controls.serviceType.touched">
                Choose serviceType, please!
              </p>
            </td>
          </tr>
          <tr>
            <th>Standard Room:</th>
            <td>
              <input class="form-control" formControlName="standardRoom" type="text"/>
              <p style="color: red" *ngIf="createServiceForm.controls.standardRoom.hasError('required') &&
      createServiceForm.controls.standardRoom.dirty">
                Input standardRoom, please!
              </p>
            </td>

          </tr>
          <tr>
            <th>Description Other Convenience:</th>
            <td>
              <input class="form-control" formControlName="descriptionOtherConvenience" type="text"/>
              <p style="color: red" *ngIf="createServiceForm.controls.descriptionOtherConvenience.hasError('required') &&
      createServiceForm.controls.descriptionOtherConvenience.dirty">
                Input descriptionOtherConvenience, please!
              </p>
            </td>

          </tr>
          <tr>
            <th>Pool Area:</th>
            <td>
              <input class="form-control" formControlName="poolArea" type="text"/>
              <p style="color: red" *ngIf="createServiceForm.controls.poolArea.hasError('min') &&
      createServiceForm.controls.poolArea.dirty">
                Input poolArea > 0, please!
              </p>
            </td>

          </tr>
          <tr>
          <th>Number Of Floor:</th>
          <td>
            <input class="form-control" formControlName="numberOfFloor" type="text" size="45"/>
            <p style="color: red" *ngIf="createServiceForm.controls.numberOfFloor.hasError('min') &&
      createServiceForm.controls.numberOfFloor.dirty">
              Input numberOfFloor > 0, please!
            </p>
          </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">
              <input class="btn btn-success" (click)="getService()" value="Save"/>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
