
<div>
  <div class="col-md-12">
    <div align="center">
      <caption><h2>List of Service</h2></caption>
      <div class="mb-2">
        <a class="btn btn-primary d-inline-block mb-2" [routerLink]="'/serviceCreate'"
           style="color: lightcyan; float: left; margin-top: 10px">Create Service</a>
      </div>
      <table id="tableCustomer" class="table table-striped table-bordered w-100"
             style="overflow-x: scroll">
        <thead>
        <tr>
          <th>No</th>
          <th>Service ID</th>
          <th>Service Name</th>
          <th>Service Area</th>
          <th>Service Cost</th>
          <th>Service Max People</th>
          <!-- <th>Rent Type</th>
           <th>Service Type</th>
           <th>Standard Room</th>
           <th>Description Other Convenience</th>-->
          <th>Pool Area</th>
          <th>Number Of Floor</th>
          <th colspan="2" style="text-align: center">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let service of listService | paginate: { itemsPerPage: 2, currentPage: p },index as i">
          <td>{{i + 1}}</td>
          <td>{{service.serviceId}}</td>
          <td>{{service.serviceName}}</td>
          <td>{{service.serviceArea}}</td>
          <td>{{service.serviceCost}}</td>
          <td>{{service.serviceMaxPeople}}</td>
          <td>{{service.poolArea}}</td>
          <td>{{service.numberOfFloor}}</td>
          <td>
            <a class="btn btn-warning" [routerLink]="'/serviceEdit'">Edit</a>
          </td>
          <td>
            <button type="button" class="deleteButton btn btn-danger" data-toggle="modal"
                    data-target="#deleteModal">
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <!--<nav aria-label="Page navigation example">
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </nav>-->

      <!-- Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete <input readonly
                                                                           style="outline: none; border: none;"
                                                                           type="text" id="userName"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!--<form action="/deleteEmployee" method="get">-->
              <input type="hidden" name="employeeIdDelete" value="" id="employeeIdDelete">
              <div class="modal-body">
                Delete <span id="userName1"></span>, Are you sure?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Delete</button>
              </div>
            <!--</form>-->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


