<app-header></app-header>

<div>
  <div class="col-md-12">
    <div align="center">
      <caption>
        <h2>Edit Employee</h2>
      </caption>
      <form class="form font-weight-normal w-50" method="post">
        <table class="table" cellpadding="5">
          <tr>
            <th>Employee Id:</th>
            <td>
              <input class="form-control" type="text" name="employeeId" id="employeeId" />

            </td>
          </tr>
          <tr>
            <th>Employee Name:</th>
            <td>
              <input class="form-control" type="text" name="employeeName" id="employeeName" />

            </td>
          </tr>
          <tr>
            <th>Employee Birthday:</th>
            <td>
              <input class="form-control" type="date" name="employeeBirthday" id="employeeBirthday" />
            </td>
          </tr>
          <tr>
            <th>Employee Id Card:</th>
            <td>
              <input class="form-control" type="text" name="employeeIdCard" id="employeeIdCard" />

            </td>
          </tr>
          <tr>
            <th>Employee Salary:</th>
            <td>
              <input class="form-control" type="text" name="employeeSalary" id="employeeSalary" />

            </td>
          </tr>
          <tr>
            <th>Employee Phone:</th>
            <td>
              <input class="form-control" type="text" name="employeePhone" id="employeePhone" />

            </td>
          </tr>
          <tr>
            <th>Employee Email:</th>
            <td>
              <input class="form-control" type="text" name="employeeEmail" id="employeeEmail" />

            </td>
          </tr>
          <tr>
            <th>Employee Address:</th>
            <td>
              <input class="form-control" type="text" name="employeeAddress" id="employeeAddress" />

            </td>
          </tr>
          <tr>
            <th>Position:</th>
            <td>
              <select class="form-control" style="width: 300px">
                <option></option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Education Degree:</th>
            <td>
              <select class="form-control" style="width: 300px">
                <option></option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Division:</th>
            <td>
              <select class="form-control" style="width: 300px">
                <option></option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Username:</th>
            <td>
              <input class="form-control" type="text"/>
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">
              <input class="btn btn-success" type="submit" value="Save"/>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>

