<app-header></app-header>

<div>
  <div class="col-md-12">
    <div align="center">
      <caption>
        <h2>Add New Customer</h2>
      </caption>
      <form class="form font-weight-normal w-50" method="post">
        <table class="table" cellpadding="5">

          <tr>
            <th>Customer Id:</th>
            <td>
              <input class="form-control" type="text" name="customerId" id="customerId" />
            </td>
          </tr>
          <tr>
            <th>Customer Type Id:</th>
            <td>
              <select class="form-control" style="width: 300px">
                <option>1</option>
                <option>1</option>
                <option>1</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Customer Name:</th>
            <td>
              <input class="form-control" type="text" name="customerName" id="customerName" />
            </td>
          </tr>
          <tr>
            <th>Customer Birthday:</th>
            <td>
              <input class="form-control" type="date" name="customerBirthday" id="customerBirthday" />
            </td>
          </tr>
          <tr>
            <th>Customer Gender:</th>
            <td>
              <select class="form-control" style="width: 300px">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Customer Id Card:</th>
            <td>
              <input class="form-control" type="text" name="customerIdCard" id="customerIdCard" />
            </td>
          </tr>
          <tr>
            <th>Customer Phone:</th>
            <td>
              <input  class="form-control" type="text" name="customerPhone" id="customerPhone" />

            </td>
          </tr>
          <tr>
            <th>Customer Email:</th>
            <td>
              <input class="form-control" type="text" name="customerEmail" id="customerEmail" />
            </td>
          </tr>
          <tr>
            <th>Customer Address:</th>
            <td>
              <input class="form-control" type="text" name="customerAddress" id="customerAddress" />

            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">
              <input class="btn btn-success" type="submit" value="Save"/>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
