
<div>
  <!--<div class="col-md-3">
      <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action">
              <a href="/createContract" style="color: darkblue">Create Contract</a>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
              <a href="/contract" style="color: darkblue">List Contract</a>
          </button>
          <button type="button" class="list-group-item list-group-item-action">
              <a href="/contractDetail" style="color: darkblue">Contract Detail</a>
          </button>
      </div>
  </div>-->
  <div class="col-md-12">
    <div align="center">
      <caption><h2>List of Contract</h2></caption>
      <div class="mb-2">
        <a class="btn btn-primary d-inline-block mb-2"
           style="color: lightcyan; float: left; margin-top: 10px" [routerLink]="'/contractCreate'">Create Contract</a>
        <a class="btn btn-primary d-inline-block mb-2" [routerLink]="'/contractDetail'"
           style="color: lightcyan; float: right; margin-top: 10px">Contract Detail</a>
      </div>
      <table id="tableCustomer" class="table table-striped table-bordered"
             style="overflow-x: scroll">
        <thead>
        <tr>
          <th>No</th>
          <th>Contract ID</th>
          <th>Contract Start Date</th>
          <th>Contract End Date</th>
          <!--<th>Contract Deposit</th>-->
          <th>Contract Total Money</th>
          <!--<th>Employee</th>-->
          <th>Customer</th>
          <th>Service</th>

        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contract of listContract | paginate: { itemsPerPage: 2, currentPage: p }, index as i ">
            <td>{{i + 1}}</td>
            <td>{{contract.contractId}}</td>
            <td>{{contract.contractStartDate}}</td>
            <td>{{contract.contractEndDate}}</td>
            <td>{{contract.contractTotalMoney}}</td>
            <td>{{contract.customer}}</td>
            <td>{{contract.service}}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <!--<div>
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>-->

    </div>
  </div>
</div>

