<!--<app-header></app-header>
<app-body></app-body>
<app-footer></app-footer>-->
<app-home-customer></app-home-customer>
<app-home-employee></app-home-employee>
<app-home-service></app-home-service>
<app-home-contract></app-home-contract>
<!--<app-create-customer></app-create-customer>
<app-customer-using-service></app-customer-using-service>
<app-edit-customer></app-edit-customer>
<app-create-employee></app-create-employee>

<app-edit-employee></app-edit-employee>
<app-create-service></app-create-service>

<app-edit-service></app-edit-service>
<app-create-contract></app-create-contract>

<app-create-contract-detail></app-create-contract-detail>-->

