<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!--<app-home-service></app-home-service>-->
<!--<app-home-employee></app-home-employee>-->
<!--<app-home-customer></app-home-customer>-->
<!--<app-home-contract></app-home-contract>-->
<!--<app-create-customer></app-create-customer>-->
<!--<app-create-employee></app-create-employee>-->
<!--<app-create-contract></app-create-contract>-->
<!--<app-create-service></app-create-service>-->
<!--<app-create-contract-detail></app-create-contract-detail>-->
<!--<app-customer-using-service></app-customer-using-service>
<app-edit-customer></app-edit-customer>


<app-edit-employee></app-edit-employee>


<app-edit-service></app-edit-service>


-->

